
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Dashboard Page
.profile-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.follow-button {
  width: 225px; 
  border-radius: 50px;
  margin: 5px 0px 10px 0px;
  background-color: #428bca;
  color: white;
}

.unfollow-button {
  width: 225px; 
  border-radius: 50px;
  margin: 5px 0px 10px 0px;
  background-color: #C0C0C0;
  color: black;
}

.user-image {
  width: 225px; 
  height: 225px; 
  display: block; 
  margin:auto;
  padding:1px; 
  border:1px solid #021a40;
}

.user-image-sm {
  width: 75px; 
  height: 75px; 
  display: block; 
  margin: 10px 0px 0px 30px;
  padding:1px; 
  border:1px solid #021a40;
}

.activities-image {
  width: 75px; 
  height: 75px; 
  display: block; 
  margin:15px 0px 15px 20px;
  padding:1px; 
  border:1px solid #021a40;
}


//Activities Display
.activities-header {
  margin-left: 25px;
}


.activities {
  padding: 10px;
  border:1px solid #021a40;
}

.activities-text {
  padding: 25px 0px 25px 30px;
}

.custom-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.list-container {
  background-color: white; 
  padding: 10px; 
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.follow-button {
  width: 225px; 
  border-radius: 50px;
  margin: 5px 0px 10px 0px;
  background-color: #428bca;
  color: white;
}

.learn-button {
  width: 225px; 
  border-radius: 50px;
  margin: 60px 0px 10px 0px;
  background-color: #428bca;
  color: white;
}

.result-button {
  width: 225px; 
  border-radius: 50px;
  margin: 5px 0px 10px 0px;
  background-color: #C0C0C0;
  color: black;
}
